@font-face 
{
    font-family: FuturaHeavy;
    src: url('FuturaStd-Heavy.otf');
}
.container, .container-fluid {
    width:80%;
    text-align:center;
    margin-left:auto;
    margin-right:auto;
}
.wide-tracking {
    letter-spacing: 0.35em;
}
.logo, p, h3,h4 {
    text-align:center;
    font-family: FuturaHeavy;
    font-color:#000000;
}
.logo {
    margin-top:100px;
    font-size:60px;

    margin-left:auto;
    margin-right:auto;
    padding-bottom:50px;
}
.searchbar { 
    text-align:center;
    margin-left:auto;
    margin-right:auto;
    margin-top:100px;
    margin-bottom:30px;
    width:300px;
}
.container-fluid{
    margin-right:auto;
    margin-left:auto;
    text-align:center;
    float:center;
    left,right:auto;
}
.form-control{
    margin-left:auto;
    margin-right:auto;
    width:200px;
    height:75px;
}


#tempimage{margin-left:100px;
          width:100px;height:100px;
          background-color:#EEEEEE;
          left:50px;}