extend layout

block flash
    if flash.error
        each error in flash.error
            .alert.alert-error.alert-dismissable=error
              button.close(type="button", data-dismiss="alert" aria-hidden="true")
                | x
    if flash.info
        each error in flash.info
            .alert.alert-success.alert-dismissable=error
              button.close(type="button", data-dismiss="alert" aria-hidden="true")
                | x

block content
      .searchbar
        form(action='/search', method='get')
          div
            input.form-control.flat.form-group#search-input(type='text', name='restaurant', placeholder='Type a restaurant name.')
            input.btn.btn-small.smaller(type='submit', value='Let\'s Eat!')


    
