extend layout

block content
      .searchbar
        form(action='/search', method='get')
          div
            input.form-control.flat(type='text', name='restaurant', placeholder='Type a restaurant name.')
            input(type='submit', value='Let\'s Eat!')
      //
         ON FORM SUBMISSION: SHOULD TAKE YOU TO CORRESPONDING REST. PAGE 

block dishes
    h3.wide-tracking TOP DISHES
