extend layout

block content
      .searchbar
        input.form-control.flat(type='text', placeholder='Type a restaurant name.')
      //
         ON FORM SUBMISSION: SHOULD TAKE YOU TO CORRESPONDING REST. PAGE 

block dishes
    h3.wide-tracking TOP DISHES