!!! 5
html(lang='en')
head
    link(href='http://fonts.googleapis.com/css?family=Open+Sans:400,600', rel='stylesheet', type='text/css')
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='description', content='')
    meta(name='author', content='')
    title DISHCROWN

    // Bootstrap core CSS 
    link(href='/css/bootstrap.css', rel='stylesheet')
    link(href='/css/flat-ui.css', rel='stylesheet')
    link(href='/css/style.css', rel='stylesheet')

    //
       HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries 
    //if lt IE 9
      script(src='/assets/js/html5shiv.js')
      script(src='/assets/js/respond.min.js')
  body
    .flash 
      block flash
    .container-fluid
      </br>
      ul.nav.nav-pills.pull-right
        li.dropdown
          a#login(role='button', data-toggle='dropdown', data-target='#') Login
          ul.dropdown-menu(role='menu', aria-labelledby='login')
            form.form-group#login-form(action='/login', method='post')
              div
                label Username:
                input(type='text', name='username')
              div
                label Password:
                input(type='password', name='password')
              div
                input.btn.btn-small(type='submit', value='Log In')
        li.dropdown
          a#signup(role='button', data-toggle='dropdown', data-target='#') Sign Up
          ul.dropdown-menu(role='menu', aria-labelledby='signup')
            form.form-group#register-form(action='/register', method='post')
              div
                label Username:
                input(type='text', name='username')
              div
                label Password:
                input(type='password', name='password')
              div
                input.btn.btn-small#submit(type='submit', value='Sign Up!')
        //assuming that cookie object is a number that doesn't have to be accessed
        if cookie
          input.btn.btn-small#submit(type='submit', value='Logout')

      .logo.wide-tracking DISHCROWN

      .topbar
        block topbar

      .sidebar
        block sidebar

      .content
        block content

      .dish-content
        block dishes

      .display-table
        block display-table


        //- insert 4 elements here from dishes; or spoof with data 

    //- Bootstrap core JavaScript
    //-  ================================================== 
    //- Placed at the end of the document so the pages load faster 

    script(src='/js/jquery-2.0.3.min.js')
    script(src='/js/bootstrap.min.js')
    script(src='/js/typeahead.min.js')
    script(type='text/javascript', src='/js/register.js')
    script(type='text/javascript', src='/js/search.js')
