extend layout


.logo.wide-tracking DISHCROWN
block content
    .row-fluid
        .col-md-3
          .style
            // - Wtf is this?
            .a(vertical-align:center;)
          //changed pricepoint -> restaurant.pricepoint; will change back if it breaks
          a(href='#')=#{restaurant.pricepoint}
          |  - 
          a(href='#')=#{restaurant.rating}
        .col-md-7
          ul.list-group
            li.list-group-item 
                h5 #{restaurant.name}
            li.list-group-item
              | Restaurant 2
              | Details
            li.list-group-item
              | Restaurant 3
              | Details
            li.list-group-item
              | Restaurant 4
              | Details
