@font-face 
{
    font-family: FuturaHeavy;
    src: url('../assets/FuturaStd-Bold.otf');
}
@font-face 
{
    font-family: OpenSans;
    src: url('../assets/OpenSans-Regular.ttf');
}

.container, .container-fluid {
    width:80%;
    text-align:center;
    margin-left:auto;
    margin-right:auto;
}
.col-md-10 {
    width: 100%;
}
.wide-tracking {
    letter-spacing: 0.35em;
}
.logo, p, h3,h4 {
    text-align:center;
    font-family: FuturaHeavy;
    font-color:#000000;
}
.logo {
    margin-top:40px;
    font-size:60px;
    font-color:#333333;
    margin-left:auto;
    margin-right:auto;
    padding-bottom:60px;
    background-image:url(../assets/logo.png);
    background-repeat: no-repeat;
    width:100%;
}
.searchbar { 
    margin-left:auto;
    margin-right:auto;
    margin-top:120px;
    margin-bottom:30px;
}
#search-input {
  text-align:center;
  width:400px;
}
.flash {
  position:absolute;
  top:0;
  z-index:1;
}
.flash.sticky {
  position:fixed;
  top:0;
}
.container-fluid{
    margin-right:auto;
    margin-left:auto;
    text-align:center;
    float:center;
    left,right:auto;
    width:70%;
    margin-top:60px;
}

li.nav {top:20px;}
ul.nav {
    padding-top:20px;
    padding-bottom:20px;
    padding-right:10px;
}
p,h3,h4 {font-family:OpenSans;}
.container{
    width:100%;
    margin-left:auto;
    margin-right:auto;
}
.alert { 
    position:fixed;
    width:100%;
}
textarea.form-control: {width:150px;}
.inline-rating{
    display:-moz-inline-block;
    display:-moz-inline-box;
    display:inline-block;
    vertical-align: middle;
}
.alert {
   position:fixed;
}

.smaller {
    line-height:70%;
}
.form-group {
    padding:10px;
}
input.form-control {
    line-height:25px; 
    width:100%;
}

a {color:#333333;}
.form-control{
    margin-left:auto;
    margin-right:auto;
    width:300px;
    height:40px;
    border-color: #1ABC9C;
    border-transparency:40%;
}
.tt-dropdown-menu {
    margin-left:auto;
    margin-right:auto;
}
.tt-hint {display:none;}
button {
    border:none;
    background-color:#FFFFFF;
}
.rating {
      unicode-bidi: bidi-override;
  direction: rtl;
}
.rating > button > span {
  display: inline-block;
  position: relative;
  width: 1.1em;
}
.rating > button >span:hover,
.rating > button >span:hover ~ span {
  color: transparent;
}
.rating > button >span:hover:before,
.rating > button >span:hover ~ span:before {
    content: "\2605";
    position: absolute;
    left: 0; 
   color: #f5cc23;
}
.btn, .btn-small, .nav, input{
    line-height:70%;
}
.copy {
    font-size:10px;
    font-family:FuturaHeavy;
    letter-spacing:.25em;
}
