@font-face 
{
    font-family: FuturaHeavy;
    src: url('../assets/FuturaStd-Bold.otf');
}
@font-face 
{
    font-family: OpenSans;
    src: url('../assets/OpenSans-Regular.ttf');
}

.container, .container-fluid {
    width:80%;
    text-align:center;
    margin-left:auto;
    margin-right:auto;
}
.wide-tracking {
    letter-spacing: 0.35em;
}
.logo, p, h3,h4 {
    text-align:center;
    font-family: FuturaHeavy;
    font-color:#000000;
}
.logo {
    margin-top:20px;
    font-size:60px;
    font-color:#333333;
    margin-left:auto;
    margin-right:auto;
    padding-bottom:60px;
    background-image:url(../assets/logo.png);
    background-repeat: no-repeat;
}
.searchbar { 
    margin-left:auto;
    margin-right:auto;
    margin-top:120px;
    margin-bottom:30px;
}
#search-input {
  text-align:center;
  width:200px;
}
.flash {
  position:absolute;
  width:100%;
  top:0;
  z-index:1;
}
.flash.sticky {
  position:fixed;
  top:0;
}
.container-fluid{
    margin-right:auto;
    margin-left:auto;
    text-align:center;
    float:center;
    left,right:auto;
    width:70%;
    margin-top:60px;
}
.form-control{
    margin-left:auto;
    margin-right:auto;
    width:300px;
    height:40px;
    border-color: #1ABC9C;
    border-transparency:40%;
}
li.nav {top:20px;}
ul.nav {
    padding-top:20px;
    padding-bottom:20px;
    padding-right:10px;
}
p {font-family:OpenSans;}
#tempimage{margin-left:100px;
          width:100px;height:100px;
          background-color:#EEEEEE;
          left:50px;}

.container{
    width:900px;
    margin-left:auto;
    margin-right:auto;}
.alert { position:fixed;}

textarea.form-control: {width:150px;}

.inline-rating{
    display:-moz-inline-block;
    display:-moz-inline-box;
    display:inline-block;
    vertical-align: middle;
}
.alert {
   position:fixed;
}

.smaller {
    line-height:70%;
}
input.btn-small {
    line-height:25px;
    vertical-align:center;
}
.form-group {
    padding:10px;
}
input.form-control {
    line-height:25px; 
    width:100%;
}

a {color:#333333;}

.tt-dropdown-menu {
    margin-left:auto;
    margin-right:auto;
}
.tt-hint {display:none;}
.btn {
    line-height:70%;
}