@font-face 
{
    font-family: FuturaHeavy;
    src: url('../assets/FuturaStd-Heavy.otf');
}
@font
.container, .container-fluid {
    width:80%;
    text-align:center;
    margin-left:auto;
    margin-right:auto;
}
.wide-tracking {
    letter-spacing: 0.35em;
}
.logo, p, h3,h4 {
    text-align:center;
    font-family: FuturaHeavy;
    font-color:#000000;
}
.logo {
    margin-top:100px;
    font-size:60px;

    margin-left:auto;
    margin-right:auto;
    padding-bottom:50px;
}
.searchbar { 
    margin-left:auto;
    margin-right:auto;
    margin-top:100px;
    margin-bottom:30px;
    width:300px;
}
#search-input {
  text-align:center;
}
.container-fluid{
    margin-right:auto;
    margin-left:auto;
    text-align:center;
    float:center;
    left,right:auto;
    width:70%;
}
.form-control{
    margin-left:auto;
    margin-right:auto;
    width:300px;
    height:40px;
    border-color: #1ABC9C;
    border-transparency:40%;
}
li.nav {top:20px;}
ul.nav {
    padding-top:10px;
    padding-right:10px;
}
p {font-family:'Open Sans';}
#tempimage{margin-left:100px;
          width:100px;height:100px;
          background-color:#EEEEEE;
          left:50px;}
.container{
    width:900px;
    margin-left:auto;
    margin-right:auto;}
.alert { position:fixed;}

textarea.form-control: {width:150px;}





.star-rating,
.star-rating input:hover,
.star-rating input:active,
.star-rating input:focus,
.star-rating .current-rating{
    background: url(star.gif) left -1000px repeat-x;
}
.star-rating{
    position:relative;
    width:125px;
    height:25px;
    overflow:hidden;
    list-style:none;
    margin:0;
    padding:0;
    background-position: left top;
}
.star-rating li{
    display: inline;
}
.star-rating input,
.star-rating .current-rating{
    position:absolute;
    top:0;
    left:0;
    text-indent:-1000em;
    height:25px;
    line-height:25px;
    outline:none;
    overflow:hidden;
    border: none;
}
.star-rating input:hover,
.star-rating input:active,
.star-rating input:focus{
    background-position: left bottom;
}
.star-rating input.one-star{
    width:20%;
    z-index:6;
}
.star-rating input.two-stars{
    width:40%;
    z-index:5;
}
.star-rating input.three-stars{
    width:60%;
    z-index:4;
}
.star-rating input.four-stars{
    width:80%;
    z-index:3;
}
.star-rating input.five-stars{
    width:100%;
    z-index:2;
}
.star-rating .current-rating{
    z-index:1;
    background-position: left center;
}
.inline-rating{
    display:-moz-inline-block;
    display:-moz-inline-box;
    display:inline-block;
    vertical-align: middle;
}